svg g {
    fill: white;
    fill-opacity: 1;
  }
  svg g:hover {
    fill: #7be3f6;
    fill-opacity: 0.7;
  }
  svg g:hover text {
    fill-opacity: 1;
  }
  
  svg g polygon {
    stroke: white;
    stroke-width: 0.2;
    transition: fill-opacity .5s;
  }
  svg g text {
    font-size: 0.22em;
    fill: black;
    fill-opacity: 0.7;
    transition: fill-opacity .5s;
  }
  svg path {
    fill: none;
    stroke: #7be3f6;
    stroke-width: 0.2em;
    stroke-opacity: 0.7;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  